numpy
xarray
geopandas
pandas
matplotlib


rioxarray
suncalc
pyproj
python-dotenv
streamlit
desk[complete]
miepython==2.5.5
netCDF4
scipy
seaborn
plotnine
statsmodels
pytest
tqdm
pyyaml
bump2version
plotly
jupyter
joblib